<section class="about">
  <div class="card bg-secondary">
    <div class="card-body d-flex-row">
      <div>
        <h1 class="about-title">Hi John Doe</h1>
        <p class="about-para">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Sint minima quisquam reiciendis ipsam ut praesentium
          voluptatum, quia culpa eius quas nihil hic eum a debiti...
        </p>
        <button class="btn btn-primary">View Details</button>
      </div>
      <img class="about-img" src="assets/img/main.svg" alt="" />
    </div>
  </div>
</section>
