<section class="followers">
  <div class="section-header">
    <h4 class="section-title">Followers</h4>
    <h5 class="section-side-text">View All</h5>
  </div>

  <div class="follower-list">
    <div class="follower-card">
      <img class="follower-img" src="assets/img/user4.jpg" alt="" />
      <span class="follower-name">Raffel Doton</span>
    </div>

    <div class="follower-card">
      <img class="follower-img" src="assets/img/user2.jpg" alt="" />
      <span class="follower-name">Raffel Doton</span>
    </div>

    <div class="follower-card">
      <img class="follower-img" src="assets/img/user5.jpg" alt="" />
      <span class="follower-name">Raffel Doton</span>
    </div>
  </div>
</section>
