<section class="trending">
  <div class="section-header">
    <h4 class="section-title">Trending Blogs</h4>
    <h5 class="section-side-text">View All</h5>
  </div>

  <div class="trending-items">
    <div class="card bg-secondary">
      <div class="card-body">
        <h5 class="trending-title">Prototyping</h5>
        <p class="trending-para">
          Lorem ipsum dolor sit amet consec tetur, adipisicing elit.
          Id excepturi quia...
        </p>
        <div class="trending-footer">
          <div class="user-likes">
            <img class="user-img" src="assets/img/user1.jpg" alt="" />
            <img class="user-img" src="assets/img/user2.jpg" alt="" />
            <img class="user-img" src="assets/img/user3.jpg" alt="" />
            <img class="user-img" src="assets/img/user4.jpg" alt="" />
          </div>
          <div class="total-likes">
            <span class="like-icon">
              <i class="fa fa-thumbs-up"></i>
            </span>
            <span class="like-count">1.5k</span>
          </div>
        </div>
      </div>
    </div>

    <div class="card bg-primary">
      <div class="card-body">
        <h5 class="trending-title">Prototyping</h5>
        <p class="trending-para">
          Lorem ipsum dolor sit amet consec tetur, adipisicing elit.
          Id excepturi quia...
        </p>
        <div class="trending-footer">
          <div class="user-likes">
            <img class="user-img" src="assets/img/user1.jpg" alt="" />
            <img class="user-img" src="assets/img/user2.jpg" alt="" />
            <img class="user-img" src="assets/img/user3.jpg" alt="" />
            <img class="user-img" src="assets/img/user4.jpg" alt="" />
          </div>
          <div class="total-likes">
            <span class="like-icon">
              <i class="fa fa-thumbs-up"></i>
            </span>
            <span class="like-count">1.5k</span>
          </div>
        </div>
      </div>
    </div>

    <div class="card bg-secondary">
      <div class="card-body">
        <h5 class="trending-title">Prototyping</h5>
        <p class="trending-para">
          Lorem ipsum dolor sit amet consec tetur, adipisicing elit.
          Id excepturi quia...
        </p>
        <div class="trending-footer">
          <div class="user-likes">
            <img class="user-img" src="assets/img/user1.jpg" alt="" />
            <img class="user-img" src="assets/img/user2.jpg" alt="" />
            <img class="user-img" src="assets/img/user3.jpg" alt="" />
            <img class="user-img" src="assets/img/user4.jpg" alt="" />
          </div>
          <div class="total-likes">
            <span class="like-icon">
              <i class="fa fa-thumbs-up"></i>
            </span>
            <span class="like-count">1.5k</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
