<div class="container">
  <app-sidebar [isSidebarOpen]="isSideBarOpen"></app-sidebar>

  <section class="main-wrapper" [class.show]="isSideBarOpen">

    <app-navbar (toggleMenu)="onToggle()"></app-navbar>

    <main class="content-wrapper">

      <div class="col-1">
        <app-about></app-about>

        <app-trending></app-trending>

        <app-posts></app-posts>
      </div>

      <aside class="col-2">
        <app-actions></app-actions>

        <app-followers></app-followers>

        <app-premium></app-premium>
      </aside>

    </main>

  </section>
</div>
