/* ********************************************************** */
/* Container */
/* ********************************************************** */
.container {
  padding: 1.5rem 1.2rem;
  display: flex;
  height: 100vh;
  width: 100%;
}

/* ********************************************************** */
/* Main Wrapper */
/* ********************************************************** */
.main-wrapper {
  position: relative;
  left: 7rem;
  width: calc(100% - 7rem);
}

/* ********************************************************** */
/* Content Wrapper */
/* ********************************************************** */
.content-wrapper {
  display: grid;
  grid-template-columns: 8fr 4fr;
  grid-column-gap: 1.5rem;
}

/* ********************************************************** */
/* Column 2 */
/* ********************************************************** */
.col-2 {
  background-color: var(--secondary);
  border-radius: 2rem;
  padding: 1.8rem;
}

/* ********************************************************** */
/* Media Queries */
/* ********************************************************** */
@media(max-width: 1200px) {
  .content-wrapper {
    grid-template-columns: 1fr;
  }

  .col-1 {
    margin-bottom: 2.5rem;
  }
}

@media(max-width: 992px) {
  .main-wrapper {
    left: 0;
    width: 100%;
  }
}
