<section class="actions">
  <div class="card bg-light action-card">
    <div class="card-body">
      <div class="action-icon bg-oranged">
        <i class="fa fa-book"></i>
      </div>
      <div class="card-text">
        <span>Articles Posted</span>
        <h4>80</h4>
      </div>
      <div class="arrow-right">
        <i class="fa fa-greater-than"></i>
      </div>
    </div>
  </div>

  <div class="card bg-light action-card">
    <div class="card-body">
      <div class="action-icon bg-bluish">
        <i class="far fa-thumbs-up"></i>
      </div>
      <div class="card-text">
        <span>Claps This Week</span>
        <h4>1.5K</h4>
      </div>
      <div class="arrow-right">
        <i class="fa fa-greater-than"></i>
      </div>
    </div>
  </div>

  <div class="card bg-light action-card">
    <div class="card-body">
      <div class="action-icon bg-grayish">
        <i class="fa fa-users"></i>
      </div>
      <div class="card-text">
        <span>New Followers This Week</span>
        <h4>972</h4>
      </div>
      <div class="arrow-right">
        <i class="fa fa-greater-than"></i>
      </div>
    </div>
  </div>
</section>
