<section class="actions">
  <div class="card bg-light action-card">
    <div class="card-body">
      <div class="book-icon bg-oranged">
        <i class="fa fa-book"></i>
      </div>
      <div class="card-text">
        <span>Articles Posted</span>
        <h4>80</h4>
      </div>
      <div class="arrow-right">
        <i class="fa fa-greater-than"></i>
      </div>
    </div>
  </div>

  <div class="card bg-light action-card">
    <div class="card-body">
      <div class="book-icon bg-bluish">
        <i class="fa fa-book"></i>
      </div>
      <div class="card-text">
        <span>Articles Posted</span>
        <h4>80K</h4>
      </div>
      <div class="arrow-right">
        <i class="fa fa-greater-than"></i>
      </div>
    </div>
  </div>

  <div class="card bg-light action-card">
    <div class="card-body">
      <div class="book-icon bg-grayish">
        <i class="fa fa-book"></i>
      </div>
      <div class="card-text">
        <span>Articles Posted</span>
        <h4>80</h4>
      </div>
      <div class="arrow-right">
        <i class="fa fa-greater-than"></i>
      </div>
    </div>
  </div>
</section>
