/* ********************************************************** */
/* Sidebar */
/* ********************************************************** */
.sidebar {
  position: fixed;
  background-color: var(--primary);
  color: var(--light);
  border-radius: 1.6rem;
  min-height: 90vh;
  z-index: 999;
  transition: all 0.3s ease;
}

.sidebar .sidebar-list {
  list-style: none;
  padding: 1.8rem 1.05rem;
}

.sidebar .sidebar-list .sidebar-item {
  margin-bottom: 2rem;
}

.sidebar .sidebar-list .sidebar-item .sidebar-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 100%;
}

.sidebar .sidebar-list .sidebar-item .sidebar-link.active {
  background-color: var(--light);
  color: var(--primary);
}

@media(max-width: 992px) {
  .sidebar {
    margin-left: -7rem;
  }

  .sidebar.show {
    margin-left: 0;
  }
}
