<aside class="sidebar" id="sidebar" [class.show]="isSidebarOpen">
  <ul class="sidebar-list">
    <li class="sidebar-item">
      <a href="#" class="sidebar-link active">
        <i class="fa fa-home"></i>
      </a>
    </li>
    <li class="sidebar-item">
      <a href="#" class="sidebar-link">
        <i class="fa fa-home"></i>
      </a>
    </li>
    <li class="sidebar-item">
      <a href="#" class="sidebar-link">
        <i class="fa fa-home"></i>
      </a>
    </li>
    <li class="sidebar-item">
      <a href="#" class="sidebar-link">
        <i class="fa fa-calendar"></i>
      </a>
    </li>
    <li class="sidebar-item">
      <a href="#" class="sidebar-link">
        <i class="fa fa-home"></i>
      </a>
    </li>
  </ul>
</aside>
