<section class="posts">
  <div class="section-header">
    <h4 class="section-title">List of Blogs</h4>
    <form class="filter-form">
      <label>filter by</label>
      <select class="form-control">
        <option value="">Status</option>
        <option value="">Published</option>
        <option value="">Draft</option>
      </select>

      <select class="form-control">
        <option value="">Date</option>
        <option value="">Today</option>
        <option value="">Yesterday</option>
      </select>
    </form>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Post Title</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>6/1/17</td>
        <td>Fraction and Word Problem</td>
        <td>Published</td>
      </tr>
      <tr>
        <td>6/1/17</td>
        <td>Fraction and Word Problem</td>
        <td>Draft</td>
      </tr>
      <tr>
        <td>6/1/17</td>
        <td>Fraction and Word Problem</td>
        <td>Published</td>
      </tr>
    </tbody>
  </table>
</section>
